.developerContain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px;
    background-color: black;
    color: #fff;
}

.logo-juan-rivera-developer{
    width: 60px;
    object-fit: cover;
}